<a href="https://colab.research.google.com/github/rohitagarwal6367/Python-lab/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# set datatype
# a={10,20,30,30,30}
a={10,20,30,30,30}
print(a)
print(type(a))

{10, 20, 30}
<class 'set'>

In [ ]:
# Q1. wap to add two number input should be taken from user datatype <int,float>
a=int(input("ENETER THE FIRST NUMBER: "))
b=float(input("ENETER THE FIRST NUMBER: "))

print("TYPE OF 1st NUMBER: ",type(a))
print("TYPE OF 2ND NUMBER: ",type(b))

ENETER THE FIRST NUMBER: 10
ENETER THE FIRST NUMBER: 20
TYPE OF 1st NUMBER:  <class 'int'>
TYPE OF 2ND NUMBER:  <class 'float'>

In [ ]:
# CHECK THAT A GIVEN NUMBER IF EVEN OR ODD
a=int(input("ENETER THE NUMBER: "))
if a%2==0:
    print("Even number : ",a)

else:
    print("Odd number : ",a)

ENETER THE NUMBER: 10
Even number :  10

In [ ]:
# LARGEST AMONG 2 NUMBER
a=int(input("ENETER THE FIRST NUMBER: "))
b=int(input("ENETER THE Second NUMBER: "))
if a>b:
    print("Largest number is 1st: ",a)

else:
    print("Largest number is 2nd: ",b)

ENETER THE FIRST NUMBER: 10
ENETER THE Second NUMBER: 20
Largest number is 2nd:  20

In [ ]:
# check the given number is prime or not
a=int(input("ENETER THE FIRST NUMBER: "))
if a<=1:
    print("Non prime : ",a)

else:
    for i in range (2,a+1):
        if(a%i==0):
            print("Non prime : ",a)
            break

    else:
        print("Prime : ",a)

ENETER THE FIRST NUMBER: 7
Non prime :  7

In [ ]:
# Find the CI and take the value from the user.

Principal=int(input("ENETER THE Principal Amount: "))
Time=int(input("ENETER THE Time: "))
Rate=int(input("ENETER THE Rate: "))
result=Principal*((1+(Rate/100))**Time)
print("Compound Interest : ",result)

ENETER THE Principal Amount: 200
ENETER THE Time: 3
ENETER THE Rate: 2
Compound Interest :  212.24160000000003